<?php
// module/Album/view/album/album/index.phtml:
$title = 'My albums';
$this->headTitle($title);
?>
<h1><?= $this->escapeHtml($title) ?></h1>
<p>
    <a href="<?= $this->url('guestbook', ['action' => 'add']) ?>">Add
        new album</a>
</p>

<table class="table">
    <tr>
        <th>User</th>
        <th>Message</th>
        <th>&nbsp;</th>
    </tr>
<?php foreach ($arrEntries as $entry) { ?>
    <tr>
        <td><?= $this->escapeHtml($entry->user) ?></td>
        <td><?= $this->escapeHtml($entry->message) ?></td>
        <td><a
            href="<?= $this->url('album', ['action' => 'edit', 'id' => $entry->id]) ?>">Edit</a>
            <a
            href="<?= $this->url('album', ['action' => 'delete', 'id' => $entry->id]) ?>">Delete</a>
        </td>
    </tr>
<?php } ?>
</table>